hr{
	border: 1px solid lightgrey;
}
#div2{
	background-color: lightgrey;
}
#div2 button{
	margin-top: 30px;
}
#div3 img{
	width: 300px;
}
.carousel-caption{
	color:red;
}
.card-body a{
	color:white;
}