.layout {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.layout .form-control, .layout input {
    border-radius: 0;
}

#typeVenteFilter{
	margin: 0px;
}

.itemFrontImg{
	width: 10%;
}
