
.leftnavbar {
    
    height: 500px;
    width: 200px;
    border-style: groove;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    
    border-collapse: collapse;
  }
  
  .leftnavbar a {
    padding: 10px 6px 4px 32px;
    text-decoration: none;
    font : Helvetica;
    font-size: 12px;
    color: #818181;
    display: block;
    text-align: justify;
  }


.leftnavbartop{
    
    position: fixed;
    
    background-color: #111;
    border-collapse: collapse;
  }
  .leftnavbartop a{
    padding: 6px 6px 6px 32px;
    font : Helvetica;
    font-size: 13px;
    display: block;
    text-align: center;
}
.leftnavbar p{
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font : Helvetica;
    font-size: 13px;
    color: #000;
    display: block;
    text-align: center;
}

.topright{
    font-size: 40px;

    margin-top: 2%;
} 


.AddSupprItem, .AddVendeur{
    margin-left: 5%;
    border-style:groove;
     width: 400px;
    height:200px;
    text-align: center;
}

.AddSupprItem h3,.AddVendeur h3{
    text-align: center;
    margin-top: 5px;
    margin-left: 20%;

}


 .AddSupprItem button, .AddVendeur button{
    margin-top: 10%;
    margin-left: 20%;
}